
.square {
    border: 1px solid black;
    flex: 1 1 auto;
    width: 2.5rem;
    height: 2.5rem;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 40rem;
    width: 40rem;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.filled {
    background-color: black;
}

.button-bar {
    text-align: center;
}